{
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
  },
  "rules": {
    "indent": [2, "tab", { "VariableDeclarator": { "var": 2, "let": 2, "const": 3 } }],
    "no-console": 0,
    "quotes": 0,
    "brace-style": [2, "1tbs"],
    "comma-dangle": ["error", "always-multiline"],
    "max-len": [2, 120],
    "semi": [2, "always", { "omitLastInOneLineBlock": true }],
    "no-cond-assign": [2, "except-parens"],
    "func-names": 0,
    "no-param-reassign": [2, { "props": false }],
    "no-unused-vars": 1,
    "new-cap": 0,
  }
}
